@if (IsOpen)
{
    <div class="fixed inset-0 z-50 w-full h-full">
        <div class="flex justify-end p-6 h-full">
            <div class="sm:max-w-full md:max-w-[60%] w-full h-full rounded bg-gray-100 shadow-xl dark:bg-gray-800 p-6">
                <div class="mb-6 flex items-center justify-between">
                    <h3 class="text-xl font-semibold">@Title</h3>
                    <a @onclick="@HandleCloseClicked" class="cursor-pointer">
                        @HeroIcons.XMark()
                    </a>
                </div>

                <CascadingValue Value="this" TValue="IPanel" Name="ParentPanel">
                    <div>
                        @ChildContent
                    </div>
                </CascadingValue>
            </div>
        </div>
    </div>
}