<p role="status">Current count: @currentCount</p>

<button class="w-full block bg-blue-600 text-white px-3 py-2 rounded" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
