@using ReachCms.Components.Data
@using Tazor.Components
@page "/content"

<PageTitle>Content - Reach CMS</PageTitle>

<header class="bg-white shadow">
    <div class="mx-auto px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Content</h1>
    </div>
</header>
<div class="mx-auto flex w-full  items-start gap-x-8 px-4 py-10 sm:px-6 lg:px-8">
    <ContentSidebar />

    <main class="flex-1">
        <ReachCms.Admin.Client.Components.ContentApp.ContentItemEditor />
    </main>
</div>

@code {
    private bool _isSidebarOpen = true;


}