@using ReachCms.Components.Data
@using Tazor.Components
@page "/content"

<PageTitle>Content - Reach CMS</PageTitle>

<PageHeader Title="Content" />
<div class="mx-auto flex w-full  items-start gap-x-8 px-4 py-10 sm:px-6 lg:px-8">
    <ContentSidebar />

    <main class="flex-1">
        <ReachCms.Admin.Client.Components.ContentApp.ContentItemEditor />
    </main>
</div>

@code {
    private bool _isSidebarOpen = true;


}