@using ReachCms.Components.Data
@using Tazor.Components
@page "/endpoints"

<PageTitle>Endpoints</PageTitle>
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Endpoints</h1>
    </div>
</header>
<div class="mx-auto flex w-full  items-start gap-x-8 px-4 py-10 sm:px-6 lg:px-8">
    <aside class="sticky top-8 hidden w-1/5 shrink-0 lg:block">
        <div class="flex h-16 shrink-0 items-center justify-end">
            <a>
                @HeroIcons.FolderPlus()
            </a>
            <a>
                @HeroIcons.DocumentPlus()
            </a>
        </div>
        <nav class="flex flex-1 flex-col">
            <ReachCms.Admin.Client.Components.ContentApp.ContentTree />
            <ReachCms.Admin.Components.Layout.SampleSideNav />
        </nav>
    </aside>

    <main class="flex-1">
        <ReachCms.Admin.Client.Components.ContentApp.ContentItemEditor />
    </main>
</div>

@code {




}