@inherits AuthenticatedLayoutBase
@using Reach.Platform.Layout.Sublayouts
<CascadingValue Name="Organizations" Value="Organizations">
    <CascadingValue Name="CurrentOrganizationId" Value="CurrentOrganizationId">
        <CascadingValue Name="CurrentHubId" Value="CurrentHubId">
            <CascadingValue Name="ContentContext" Value="_contentContextProvider">
                @if (IsLoading || Organizations is null)
                {
                    <main class="py-6 flex-grow h-full w-full flex flex-col justify-center items-center">
                        <Spinner/>
                        <div class="my-3">@Body</div>
                    </main>
                }
                else if (Navigation.Uri.Contains("/app"))
                {
                    <HubSublayout>
                        @Body
                        <div class="rounded my-3 p-3 bg-indigo-300 dark:bg-indigo-800 dark:text-white">
                            <p>Current Organization: @(CurrentOrganizationId.GetValueOrDefault())</p>
                            <p>Current Hub: @(CurrentHubId.GetValueOrDefault())</p>
                        </div>
                    </HubSublayout>
                }
                else
                {
                    <GlobalSublayout>
                        @Body
                    </GlobalSublayout>
                }

                <div id="blazor-error-ui">
                    An unhandled error has occurred.
                    <a href="" class="reload">Reload</a>
                    <a class="dismiss">🗙</a>
                </div>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>