@page "/{*pageRoute}"
@attribute [Authorize]
@rendermode InteractiveServer
@if (AppletContext.CurrentApplet is not null)
{
    <DynamicComponent Type="@(Type.GetType(AppletContext.CurrentApplet.AppletComponentType))" />
}
@* 
<PageTitle>Home</PageTitle>

<h1>Hello, @username!</h1>

<ul>
    @foreach(var claim in claims)
    {
        <li>@claim</li>
    }
</ul>

Welcome to your new app.
@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private string username = "";
    private IEnumerable<string> claims = [];

    protected override async Task OnInitializedAsync()
    {
        if(authenticationState is not null)
        {
            var state = await authenticationState;
            username = state?.User?.Identity?.Name ?? "uh oh";
            claims = state?.User.Claims.Select(m => m.ToString()) ?? [];
            
        }
        await base.OnInitializedAsync();
    }
} *@