@rendermode InteractiveAuto
@{
    var sidebarClass = _isSidebarOpen ? "w-1/5" : "w-10";
    var sidebarIconClass = _isSidebarOpen ? "rotate-180" : "";
}
<aside class=@($"sticky top-8 hidden {sidebarClass} shrink-0 lg:block")>
    <div class="flex h-16 shrink-0 items-center justify-end">
        <a class=@($"block cursor-pointer bg-gray-100 px-3 py-2 rounded") @onclick=@(() => { _isSidebarOpen = !_isSidebarOpen; StateHasChanged(); })>
            @HeroIcons.ArrowRightOnRectangle(sidebarIconClass)
        </a>
    </div>
    <nav class="flex flex-1 flex-col">
        <ReachCms.Admin.Client.Components.ContentApp.ContentTree />
    </nav>
</aside>
@code{
    private bool _isSidebarOpen = true;
}