@page "/app/{organizationSlug}/{hubSlug}/content/components"
@inherits ContentBasePage
@rendermode InteractiveWebAssembly
<ContentSublayout Title="Content">
    <Body>
        <p>Components</p>
    </Body>
</ContentSublayout>