@page "/app/{tenantSlug}/content"
@inherits ContentBasePage
@rendermode InteractiveWebAssembly
<ContentSublayout Title="Content">
    <Body>
        <p>Content Editing Here</p>
    </Body>
</ContentSublayout>