@page "/apps/content/field-definitions"
@rendermode InteractiveWebAssembly
@inherits ContentBasePage
<ContentSublayout Title="Field Definitions">
    <Body>
        <p>Field Definitions</p>
    </Body>
</ContentSublayout>