@page "/app/{organizationSlug}/{hubSlug}/content/renderer-definitions"
@inherits ContentBasePage
<ContentSublayout Title="Renderer Definitions">
    <Toolbar>
        <Button  Type="ButtonType.PrimaryOutline">
            @HeroIcons.SquaresPlus("inline-block mr-2")
            <span>New Definition</span>
        </Button>
        <Button  Type="ButtonType.PrimaryOutline">
            @HeroIcons.ArrowUturnDown("inline-block")
        </Button>
    </Toolbar>
    <Body>
        
    </Body>
</ContentSublayout>