@inherits LayoutComponentBase
@using Reach.EditorApp.Client.Components.Layout.Global
<div class="page flex min-h-full flex-col">
    <TopBar />

    <main class="flex-grow h-full w-full flex flex-col justify-center items-center">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
