<!-- top bar -->
<div class="w-full max-w-full bg-gray-900 p-3 flex items-center justify-between">
    <div class="flex-shrink">
        <a href="/" class="text-white flex items-center gap-4">
            <img src="https://github.com/jsedlak/reach/blob/main/img/icon-white.png?raw=true"
                 class="w-6" />

            <h1 class="text-white text-2xl" role="banner">Reach</h1>
        </a>
    </div>
    <div class="flex items-center gap-4">
        <a href="#"
           class="flex items-center gap-2 rounded-lg border-2 border-indigo-700 px-3 py-1 text-white hover:bg-indigo-700">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="size-6">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z" />
            </svg>
            <span>New Tenant</span>
        </a>
        <a href="#" class="flex items-center space-x-2 text-white">
            <img src="https://picsum.photos/200" class="w-8 rounded-full" />
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="size-6">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </a>
    </div>
</div>