@inject NavigationManager Navigation
@foreach(var item in Items)
{
    var cls = "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium";

    if (new Uri(Navigation.Uri).PathAndQuery.Equals(item.Href, StringComparison.OrdinalIgnoreCase))
    {
        cls = "bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium";
    }

    <a href=@item.Href title=@item.Title class=@($"flex items-center {cls} gap-1")>@item.Icon @item.Title</a>
}
@code {
    [Parameter]
    public IEnumerable<NavItem> Items { get; set; } = Enumerable.Empty<NavItem>();
}
