@using Reach.Components.Context
@using Reach.Membership.Views
@inherits LayoutComponentBase
@inject ITenantContext TenantContext
<div class="page flex min-h-full">
    <Sidebar />

    <div class="flex flex-grow flex-col">
        <Toolbar />

        <div class="w-full">
            <main class="p-6">
                @Body
                <Reach.EditorApp.Client.Components.Providers.TenantProvider />
                <Reach.EditorApp.Client.Components.Debug.TenantDebug />
                <Reach.EditorApp.Client.Components.Debug.TenantDebug @rendermode="InteractiveServer" />
                <Reach.EditorApp.Client.Components.Debug.TenantDebug @rendermode="InteractiveWebAssembly" />
            </main>
        </div>
    </div>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    private IEnumerable<AvailableTenantView> _tenants = [];
    private AvailableTenantView _currentTenant = new();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _tenants = await TenantContext.GetAllTenants();
        _currentTenant = await TenantContext.GetCurrentTenant() ?? new();
        StateHasChanged();
    }
}