@inherits LayoutComponentBase

<div class="page">
    <TopBar @rendermode="InteractiveServer" />

    <Tazor.Components.Content.Alert Type="Tazor.Components.Content.AlertType.Warning">
        <Content>
            <strong>Warning:</strong> This is a preview of the new editor. It is not yet feature complete and may contain bugs.
        </Content>
    </Tazor.Components.Content.Alert>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    [CascadingParameter]
    public AppletContext AppletContext { get; set; } = null!;
}