@{
var navItemClass = IsCurrent ?
    "flex w-full items-center gap-2 bg-indigo-700 px-3 py-3 text-white" :
        "flex w-full items-center gap-2 px-3 py-3 text-white transition-colors hover:bg-indigo-700";
}
<a href="@Item.Href" class="@navItemClass">
    @Item.LeftIcon
    @if (IsExpanded)
    {
        <span>@Item.Text</span>
    }
</a>