@rendermode InteractiveWebAssembly
<h3>This is the content editor!</h3>
<p>Count: @_count</p>
<button @onclick="IncrementCount">Increment</button>
@code {
    private int _count = 0;
    private void IncrementCount()
    {
        _count++;
    }
}
