<!DOCTYPE html>
<html lang="en">

<head class="dark h-full bg-white dark:bg-gray-800">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Tazor.Components/tazor.js"></script>
</body>

</html>
