@inherits TazorBaseComponent

@if(Component != null)
{
    @foreach(var field in Component.Fields)
    {
        var fieldDefn = _contentContextProvider.FieldDefinitions.First(m => m.Id == field.DefinitionId);
        var editorDefn = _contentContextProvider.EditorDefinitions.First(m => m.Id == fieldDefn.EditorDefinitionId);
        var editorType = Type.GetType(editorDefn.EditorType);

        <Label>@field.Name</Label>

        <DynamicComponent Type="@editorType" />
    }
}