@inherits TazorBaseComponent

@if(Component != null)
{
    @foreach(var field in Component.Fields)
    {
        <ComponentFieldEditor Field="@field" ValueChanged="@((value) => OnFieldValueChanged(field, value))" />
    }

    <div>
        <Button 
            Clicked="OnSaveClicked"
            Type="ButtonType.PrimaryOutline" 
                Disabled="@(!_isChanged)">
            Save
        </Button>
    </div>
}