.editing-control {
    margin-bottom: 15px;
}

.button-group {
    width: 100%;
    display: flex;
}

.button-group .button {
    flex-grow: 1;
}

/* TEXT BOXES */
.textbox {
    padding: 8px 15px;
    border: solid 1px #000;
    width: 100%;
}

/* ID */
.id-editor {
    display: flex;
    width: 100%;
    
    border: solid 1px #000;
}

.id-editor span {
    display: inline-block;
    flex-grow: 1;
    font-family: 'Cascadia Code', Consolas, Courier New, Courier, monospace;
    padding: 8px 15px;
}
.id-editor a {
    display: inline-block;
    padding: 8px 15px;
    background: #68A6A5;
    color: #fff;
}
/* DATE PICKERS */
.date-picker {
    position: relative;
}

.date-picker--selection {
    display: flex;
    width: 100%;
    border: solid 1px #000;
    padding: 8px 15px;
}

.date-picker--selection span {
    flex-grow: 1;
}

.date-picker .calendar {
    position: absolute;
    top: calc(100% - 1px);
    left: 0px;
    z-index: 9999;
    max-width: 350px;
}


/* CALENDARS */
.calendar {
    background: #fff;
    border: solid 1px #000;
    padding: 15px;
    position: relative;
}


.calendar .calendar-header,
.calendar .calender-body,
.calendar .calendar-footer {
    padding: 0 15px;
}

.calendar .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.calendar .row > * {
    display: flex;
}

.calendar row span {
    align-self: center;
    cursor: pointer;
}

.calendar-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calendar-body .calendar-weekday-header,
.calendar-body .calendar-weekday {
    display: block;
    text-align: center;
    padding: 10px 0;
    flex-basis: calc(100% / 7);
}

.calendar-body .calendar-weekday-header {
    background: #000;
    color: #fff;
}

.calendar-body .calendar-weekday.active {
    background: #68A6A5;
    color: #fff;
}

.calendar-body .calendar-weekday.inactive {
    opacity: 0.5;
}

.calendar-body .calendar-weekday:not(.inactive) {
    cursor: pointer;
}


.calendar row span:nth-child(1) {
    flex-grow: 1;
    cursor: default;
}

/* DROPDOWN STYLES */
.dropdown {
    border: solid 1px #000;
    padding: 8px 15px;
    position: relative;
}

.dropdown ul,
.dropdown li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dropdown .dropdown-selection {
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.dropdown .dropdown-selection span {
    display: flex;
    align-self: center;
}

.dropdown .dropdown-selection span.dropdown-selection--title {
    flex-grow: 1;
}

.dropdown .dropdown-selection span.dropdown-selection--caret {
    flex-shrink: 1;
}

.dropdown .dropdown-selection i {
    pointer-events: none;
}

.dropdown .dropdown-selector {
    background: #fff;
    position: absolute;
    left: 0;
    top: calc(100%);
    border: solid 1px #000;
    padding: 15px;
    width: 100%;
    z-index: 9999;
}

.dropdown .dropdown-selector li {
    cursor: pointer;
}

.dropdown .dropdown-selector li.disabled {
    opacity: 0.5;
    cursor: default;
}
.dropdown .dropdown-selector li.active,
.dropdown .dropdown-selector li:hover {
    color: #68A6A5;
}

