<OutsideHandleContainer OnClickOutside="@(async () => { await OnClickedOutside(); })">
    <div class="date-picker editing-control" @onclick="(() => { _isWindowOpen = true; })">
        <div class="date-picker--selection">
            <span>@SelectedDate.ToString("yyyy-MM-dd")</span>
            <i class="fal fa-calendar"></i>
        </div>

        @if (_isWindowOpen)
        {

            <Calendar @bind-SelectedStartDate="SelectedDate" IsRangeSelection="true" />
        }
    </div>
</OutsideHandleContainer>
@code {
        [Parameter]
        public DateTime SelectedDate { get; set; }

        [Parameter]
        public EventCallback<DateTime> SelectedDateChanged { get; set; }

    private bool _isWindowOpen = false;

    protected async Task OnClickedOutside()
    {
        _isWindowOpen = false;
        await InvokeAsync(StateHasChanged);
    }
}
